# Qwen – Finetuning/Chat Notebook (Annotated)
*Last updated: October 28, 2025*

This notebook is organized for clarity when working with **Qwen** models. Each major step is introduced with a short explanation, including chat templates via `apply_chat_template`, training, and inference.

**Included:**
- Section headers automatically injected before relevant code cells
- Lightweight explanations for each phase
- A simple footer with suggested next steps

---

<details>
<summary><strong>Table of Contents</strong></summary>

1. Setup & Imports  
2. Configuration & Constants  
3. Environment / GPU Check  
4. Data Loading  
5. Exploratory Data Analysis (EDA)  
6. Cleaning & Preprocessing  
7. Tokenization & Chat Templates  
8. Model Setup  
9. Training Loop / Trainer  
10. Evaluation & Metrics  
11. Inference / Generation  
12. Safety & Guardrails  
13. Persistence & Export  

</details>

In [4]:
pip install hf_xet

Collecting hf_xet
  Downloading hf_xet-1.1.8-cp37-abi3-win_amd64.whl.metadata (703 bytes)
Downloading hf_xet-1.1.8-cp37-abi3-win_amd64.whl (2.8 MB)
   ---------------------------------------- 0.0/2.8 MB ? eta -:--:--
   ----------- ---------------------------- 0.8/2.8 MB 4.2 MB/s eta 0:00:01
   ------------------------------------- -- 2.6/2.8 MB 7.2 MB/s eta 0:00:01
   ---------------------------------------- 2.8/2.8 MB 7.1 MB/s eta 0:00:00
Installing collected packages: hf_xet
Successfully installed hf_xet-1.1.8
Note: you may need to restart the kernel to use updated packages.

### Setup & Imports
Import core libraries for Qwen models and utilities. Keep imports organized and remove unused ones.

In [3]:
from huggingface_hub import login, whoami, hf_hub_download

HF_API_KEY = "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"
login(token=HF_API_KEY)
whoami()

{'type': 'user',
 'id': '6891761002359d4e3841311f',
 'name': 'bal141',
 'fullname': 'Deepinder',
 'isPro': False,
 'avatarUrl': '/avatars/6f679a831597edacbec257d48e9c6ef1.svg',
 'orgs': [],
 'auth': {'type': 'access_token',
  'accessToken': {'displayName': 'Ntk',
   'role': 'fineGrained',
   'createdAt': '2025-08-05T03:48:28.378Z',
   'fineGrained': {'canReadGatedRepos': True,
    'global': [],
    'scoped': [{'entity': {'_id': '6891761002359d4e3841311f',
       'type': 'user',
       'name': 'bal141'},
      'permissions': ['repo.content.read']}]}}}}

In [9]:
import os, re, json, math
from collections import defaultdict
import numpy as np
import pandas as pd
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM
import torch
torch.cuda.is_available()

True

### Configuration & Constants
Centralize hyperparameters, paths, and seeds for reproducible runs.

In [5]:
import torch
from transformers import AutoTokenizer, pipeline

MODEL_ID = "Qwen/Qwen3-0.6B"  

tok = AutoTokenizer.from_pretrained(MODEL_ID, use_fast=True)

pipe = pipeline(
    "text-generation",
    model=MODEL_ID,
    tokenizer=tok,
    device_map={"": 0},
    torch_dtype=torch.float16 if torch.cuda.is_available() else torch.float32,
    return_full_text=False
)

Device set to use cuda:0

### Data Loading
Load datasets/artifacts and validate shapes/schemas. Print sample rows to sanity-check text fields.

In [11]:
csv_path = r'C:\Users\dbal\anaconda_projects\PotentialTalentsNLP\potentialtalents.csv'
df = pd.read_csv(csv_path)

# Parse connections like "500+" → 500 (handles missing/NaN/ints/strings)
def parse_connections(x):
    if pd.isna(x): 
        return 0
    s = str(x).strip()
    if s.endswith("+"):
        s = s[:-1]
    s = re.sub(r"\D", "", s)  # keep digits only
    return int(s) if s else 0

df["connections_num"] = df.get("connection", 0).apply(parse_connections)

# Clean job titles
honor_pat = re.compile(r"\b(?:cum laude|magna cum|summa cum|dean['’]?s list|honou?rs|with honou?rs)\b", re.I)
df["job_title_clean"] = (
    df["job_title"].astype(str)
      .str.replace(honor_pat, "", regex=True)
      .str.replace(r"\s+", " ", regex=True)
      .str.strip()
)

# Convert rows → candidate dicts
def to_candidates(rows: pd.DataFrame):
    return [
        {
            "id": int(r["id"]),
            "title": str(r.get("job_title_clean") or r.get("job_title") or ""),
            "location": str(r.get("location", "")),
            "connections": int(r.get("connections_num", 0)),
        }
        for _, r in rows.iterrows()
    ]

In [12]:
# A) Make titles compact to keep token usage low → fewer truncation issues
def short_title(s: str, max_words: int = 8):
    ws = re.findall(r"[A-Za-z0-9]+", s or "")
    return " ".join(ws[:max_words])

# B) Build one compact prompt over the entire dataset
def build_prompt_all(df, role="Aspiring Human Resources Specialist"):
    cands = [
        {"id": int(r.id), "title": short_title(str(r.job_title_clean))}
        for r in df.itertuples()
    ]
    header = (
        "You are a recruiting specialist.\n"
        f'Return ONLY a JSON array with exactly {len(cands)} objects '
        '( {"id": <int>, "score": <float in [0,1]>} ), one per candidate in the SAME ORDER.\n'
        "No text before or after the JSON.\n\nCandidates:\n"
    )
    body = "\n".join([f'- id={c["id"]}, title="{c["title"]}"' for c in cands])
    return header + body + "\n\nJSON:"

# C) Extract the first balanced [...] slice (prevents stray tokens from breaking json.loads)
def extract_balanced_json_array(text: str) -> str:
    start = text.find("[")
    if start == -1:
        raise ValueError("No '[' found in model output.")
    depth = 0
    for i, ch in enumerate(text[start:], start=start):
        if ch == "[":
            depth += 1
        elif ch == "]":
            depth -= 1
            if depth == 0:
                return text[start:i+1]
    raise ValueError("Unbalanced JSON array (truncated output).")

# D) Run once and attach scores
prompt_all = build_prompt_all(df, role="Aspiring Human Resources Specialist")

raw = pipe(
    prompt_all,
    max_new_tokens=1536,                                 
    do_sample=False,
    pad_token_id=(pipe.tokenizer.eos_token_id
                  if hasattr(pipe, "tokenizer") else None),
    return_full_text=False
)[0]["generated_text"]

json_text = extract_balanced_json_array(raw)
items = json.loads(json_text)                             # strict parse
scores_all = {int(it["id"]): float(it["score"]) for it in items}

df["sim_qwen"] = df["id"].map(scores_all)

# Quick view of top matches
df.sort_values("sim_qwen", ascending=False)[["id","job_title_clean","sim_qwen"]].head(10)

The following generation flags are not valid and may be ignored: ['temperature', 'top_p', 'top_k']. Set `TRANSFORMERS_VERBOSITY=info` for more details.

    id                                    job_title_clean  sim_qwen
1    2  Native English Teacher at EPIK (English Progra...      0.98
9   10  Seeking Human Resources HRIS and Generalist Po...      0.97
4    5    Advisory Board Member at Celal Bayar University      0.96
10  11                      Student at Chapman University      0.96
0    1  2019 C.T. Bauer College of Business Graduate (...      0.95
7    8                               HR Senior Specialist      0.95
3    4             People Development Coordinator at Ryan      0.94
5    6                Aspiring Human Resources Specialist      0.93
2    3              Aspiring Human Resources Professional      0.92
8    9  Student at Humber College and Aspiring Human R...      0.92

In [15]:
import json

# 1) Inspect what came back
print("First 200 chars:", json_text_fs[:200])   # from the previous step
print("Items returned:", len(items_fs), "Expected:", len(df))

# 2) If counts match, map by order (fastest way to eliminate NaNs)
if len(items_fs) == len(df):
    df = df.reset_index(drop=True)  # ensure same order used to build the prompt
    df["sim_qwen_fs"] = [float(obj["score"]) for obj in items_fs]
else:
    # If counts don't match, keep whatever matched IDs we do have (partial fill)
    scores_fs = {int(it["id"]): float(it["score"]) for it in items_fs if "id" in it and "score" in it}
    df["sim_qwen_fs"] = df["id"].map(scores_fs)

# 3) Quick check
df.sort_values("sim_qwen_fs", ascending=False)[["id","job_title_clean","sim_qwen_fs"]].head(10)

First 200 chars: [{"id": 9001, "score": 0.95}]
Items returned: 1 Expected: 104

   id                                    job_title_clean  sim_qwen_fs
0   1  2019 C.T. Bauer College of Business Graduate (...          NaN
1   2  Native English Teacher at EPIK (English Progra...          NaN
2   3              Aspiring Human Resources Professional          NaN
3   4             People Development Coordinator at Ryan          NaN
4   5    Advisory Board Member at Celal Bayar University          NaN
5   6                Aspiring Human Resources Specialist          NaN
6   7  Student at Humber College and Aspiring Human R...          NaN
7   8                               HR Senior Specialist          NaN
8   9  Student at Humber College and Aspiring Human R...          NaN
9  10  Seeking Human Resources HRIS and Generalist Po...          NaN

### Configuration & Constants
Centralize hyperparameters, paths, and seeds for reproducible runs.

In [14]:
# 1) Define few-shot anchors
EXAMPLES = [
    {"cands": [{"id": 9001, "title": "Aspiring Human Resources Specialist"}],
     "json":  [{"id": 9001, "score": 0.95}]},
    {"cands": [{"id": 9002, "title": "Retail Manager"}],
     "json":  [{"id": 9002, "score": 0.15}]},
]

# 2) Build compact prompt with examples serialized as TRUE JSON
def build_prompt_all_fewshot(df, role="Aspiring Human Resources Specialist"):
    ex_blocks = []
    for ex in EXAMPLES:
        ex_lines = ["Example:", "Candidates:"]
        for c in ex["cands"]:
            ex_lines.append(f'- id={c["id"]}, title="{c["title"]}"')
        ex_json = json.dumps(ex["json"], ensure_ascii=False)   # << correct JSON (double quotes)
        ex_lines.append(f"JSON: {ex_json}\n")
        ex_blocks.append("\n".join(ex_lines))

    cands = [{"id": int(r.id), "title": short_title(str(r.job_title_clean))} for r in df.itertuples()]
    header = (
        "You are a recruiting assistant.\n"
        + "\n".join(ex_blocks)
        + f'Rank these {len(cands)} candidates for the role "{role}" by fit.\n'
        f"Return ONLY a JSON array with exactly {len(cands)} objects "
        '( {"id": <int>, "score": <float in [0,1]>} ), one per candidate in the SAME ORDER.\n'
        "No text before or after the JSON.\n\nCandidates:\n"
    )
    body = "\n".join([f'- id={c["id"]}, title="{c["title"]}"' for c in cands])
    return header + body + "\n\nJSON:"

# 3) Generate once, extract balanced array, parse strictly, attach
prompt_fs = build_prompt_all_fewshot(df)
raw_fs = pipe(
    prompt_fs,
    max_new_tokens=1536,
    do_sample=False,
    pad_token_id=pipe.tokenizer.eos_token_id if hasattr(pipe, "tokenizer") else None,
    return_full_text=False
)[0]["generated_text"]

json_text_fs = extract_balanced_json_array(raw_fs)  # grabs the first complete [...] block
items_fs = json.loads(json_text_fs)                 # strict JSON parsing
scores_fs = {int(it["id"]): float(it["score"]) for it in items_fs}

df["sim_qwen_fs"] = df["id"].map(scores_fs)
df.sort_values("sim_qwen_fs", ascending=False)[["id","job_title_clean","sim_qwen_fs"]].head(10)

The following generation flags are not valid and may be ignored: ['temperature', 'top_p', 'top_k']. Set `TRANSFORMERS_VERBOSITY=info` for more details.

   id                                    job_title_clean  sim_qwen_fs
0   1  2019 C.T. Bauer College of Business Graduate (...          NaN
1   2  Native English Teacher at EPIK (English Progra...          NaN
2   3              Aspiring Human Resources Professional          NaN
3   4             People Development Coordinator at Ryan          NaN
4   5    Advisory Board Member at Celal Bayar University          NaN
5   6                Aspiring Human Resources Specialist          NaN
6   7  Student at Humber College and Aspiring Human R...          NaN
7   8                               HR Senior Specialist          NaN
8   9  Student at Humber College and Aspiring Human R...          NaN
9  10  Seeking Human Resources HRIS and Generalist Po...          NaN

In [18]:
import json, re

# reuse short_title(...) and extract_balanced_json_array(...) from earlier
def short_title(s: str, max_words: int = 8):
    ws = re.findall(r"[A-Za-z0-9]+", s or "")
    return " ".join(ws[:max_words])

def extract_balanced_json_array(text: str) -> str:
    start = text.find("[")
    if start == -1:
        raise ValueError("No '[' found in model output.")
    depth = 0
    for i, ch in enumerate(text[start:], start=start):
        if ch == "[":
            depth += 1
        elif ch == "]":
            depth -= 1
            if depth == 0:
                return text[start:i+1]
    raise ValueError("Unbalanced JSON array (truncated).")

# A) Few-shot anchors with TRUE JSON (double quotes)
EXAMPLES = [
    ( [{"id": 9001, "title": "Aspiring Human Resources Specialist"}],
      [{"id": 9001, "score": 0.95}] ),
    ( [{"id": 9002, "title": "Retail Store Manager"}],
      [{"id": 9002, "score": 0.20}] ),
    ( [{"id": 9003, "title": "Student, Business Administration"}],
      [{"id": 9003, "score": 0.25}] ),
]

# B) Build rubric prompt: clear instructions + positives/negatives + JSON-only
def build_prompt_hr_rubric(df, role="Human Resources (Generalist / Recruiting)"):
    ex_blocks = []
    for cands, lbl in EXAMPLES:
        ex = ["Example:", "Candidates:"]
        for c in cands:
            ex.append(f'- id={c["id"]}, title="{c["title"]}"')
        ex.append("JSON: " + json.dumps(lbl, ensure_ascii=False) + "\n")
        ex_blocks.append("\n".join(ex))

    # compact candidate list
    cands = [{"id": int(r.id), "title": short_title(str(r.job_title_clean))} for r in df.itertuples()]

    rubric = (
        "You are ranking candidates STRICTLY for Human Resources roles.\n"
        "Scoring rules (0–1):\n"
        "• 0.80–1.00: Clear HR (e.g., HR Specialist, HR Generalist, Recruiter, Talent Acquisition).\n"
        "• 0.40–0.70: Possibly HR-adjacent (People Ops, Office/People Coordinator with HR hints).\n"
        "• 0.00–0.30: Not HR (e.g., Teacher, Student only, Board/Advisory, unrelated majors/roles).\n"
        "Penalize strongly if the title includes Teacher, Professor, Student (without HR), Advisor/Advisory/Board.\n"
        "Return ONLY JSON. Do not output any text before or after JSON.\n"
    )

    header = rubric + "\n".join(ex_blocks) + \
        f'Rank these {len(cands)} candidates for "{role}" by fit.\n' \
        f"Return ONLY a JSON array with exactly {len(cands)} objects " \
        '( {"id": <int>, "score": <float in [0,1]>} ), one per candidate in the SAME ORDER.\n\n' \
        "Candidates:\n"
    body = "\n".join([f'- id={c["id"]}, title="{c["title"]}"' for c in cands])
    return header + body + "\n\nJSON:"

# C) Generate once, parse strictly, and attach scores (map by order if counts match)
prompt_hr = build_prompt_hr_rubric(df)
raw_hr = pipe(
    prompt_hr,
    max_new_tokens=1792,                  # ample room for 104 items
    do_sample=False,
    pad_token_id=getattr(pipe.tokenizer, "eos_token_id", None),
    return_full_text=False
)[0]["generated_text"]

json_slice = extract_balanced_json_array(raw_hr)

# Regex-tolerant parse: accepts id/score with or without quotes, ignores trailing commas/spaces
pairs = re.findall(
    r'\{\s*"?id"?\s*:\s*(\d+)\s*,\s*"?score"?\s*:\s*([0-9]*\.?[0-9]+)\s*\}',
    json_slice
)

items_hr = [{"id": int(i), "score": float(s)} for i, s in pairs]

# If counts match, assign by order (fastest & avoids NaNs); else map by id
if len(items_hr) == len(df):
    df = df.reset_index(drop=True)
    df["sim_qwen_hr"] = [o["score"] for o in items_hr]
else:
    scores_hr = {o["id"]: o["score"] for o in items_hr}
    df["sim_qwen_hr"] = df["id"].map(scores_hr)

df.sort_values("sim_qwen_hr", ascending=False)[["id","job_title_clean","sim_qwen_hr"]].head(15)

The following generation flags are not valid and may be ignored: ['temperature', 'top_p', 'top_k']. Set `TRANSFORMERS_VERBOSITY=info` for more details.

    id                                    job_title_clean  sim_qwen_hr
0    1  2019 C.T. Bauer College of Business Graduate (...         0.95
2    3              Aspiring Human Resources Professional         0.95
1    2  Native English Teacher at EPIK (English Progra...         0.20
3    4             People Development Coordinator at Ryan          NaN
4    5    Advisory Board Member at Celal Bayar University          NaN
5    6                Aspiring Human Resources Specialist          NaN
6    7  Student at Humber College and Aspiring Human R...          NaN
7    8                               HR Senior Specialist          NaN
8    9  Student at Humber College and Aspiring Human R...          NaN
9   10  Seeking Human Resources HRIS and Generalist Po...          NaN
10  11                      Student at Chapman University          NaN
11  12  SVP, CHRO, Marketing & Communications, CSR Off...          NaN
12  13  Human Resources Coordinator at InterContinenta...          NaN
13  14  2019 C.T. Bauer College of Business Graduate (...          NaN
14  15  2019 C.T. Bauer College of Business Graduate (...          NaN

---

## Next Steps

- Add an **Experiment Card** cell (model, tokenizer, data snapshot, hyperparams, seed, hardware).
- Log runs with **wandb/MLflow** and save evaluation plots/tables.
- Provide robust **chat inference demos** (multi-turn, system prompts, streaming where relevant).
- If applicable, include **safety/bias checks** with example outputs.